/* Local styling properties that overwrite the global ones for this page */
.title {
	horizontal-align: center;
}

.listItem {
	font-size:  20;
	padding: 5 5 5;
}

.padded {
    padding: 10 15 0;	/* top - right/left - bottom */
}

.heading1 {
    font-size: 16;
    margin: 15 0 20;
}